{% extends "navbar.html" %}
    {% block content %}
        <h3>{{template_show.title | title}}</h3>
        <div>
            <p>Release Date: {{template_show.release}}</p>
            <p>Description: {{template_show.description}} </p>
        </div>
        <div><img src="{{template_show.image}}"></img></div>
        <div>
            <h3>Reviews:</h3>
            <br/>
            {% for rev in template_reviews %}
                <div>{{rev.user}} says: </div>
                <div>{{rev.text}}</div>
            {% endfor %}
            <div>Add A Review:
                <form method="POST" action="/newshowreview">
                    <input class="input" type="text" name="review" placeholder="Add your review ... ">
                    <!-- Pass the Media ID through the Form -->
                    <input class="input" type="hidden" name="show_id" value={{template_show.id}}>
                    <button class="button">Add</button>
                </form>
            </div>
        </div>
        <br />
        <div>
            {% for list in template_lists %}
                <div>{{ list.title }}  <a href="/addshowtolist/{{list.id}}/{{template_show.id}}">Add to List</a></div>
            {% endfor %}
        </div>
    {% endblock %}