<!-- Passed variables are: template_game, template_reviews-->
{% extends "navbar.html" %}
    {% block content %}
        <h3>{{template_game.title | title}}</h3>
        <p>Platforms: {{template_game.platforms}}</p>
        <div>
            <p>Release Year: {{template_game.release}}</p>
            <p>Description: {{template_game.description}} </p>
        </div>
        <div><img src="{{template_game.image}}"></img></div>
        <div>
            <h3>Reviews:</h3>
            <br/>
            {% for rev in template_reviews %}
                <div>{{rev.user}} says: </div>
                <div>{{rev.text}}</div>
            {% endfor %}
            <div>Add A Review:
                <form method="POST" action="/newgamereview">
                    <input class="input" type="text" name="review" placeholder="Add your review ... ">
                    <!-- Pass the Media ID through the Form -->
                    <input class="input" type="hidden" name="game_id" value={{template_game.id}}>
                    <button class="button">Add</button>
                </form>
            </div>
        </div>
        <br />
        <div>
            {% for list in template_lists %}
                <div>{{ list.title }}  <a href="/addgametolist/{{list.id}}/{{template_game.id}}">Add to List</a></div>
            {% endfor %}
        </div>
    {% endblock %}