{% extends "navbar.html" %}
    {% block content %}
        <h3>{{template_book.title | title}}</h3>
        <p>Author: {{template_book.author}}</p>
        <div>
            <p>Release Date: {{template_book.release}}</p>
            <p>Description: {{template_book.description}} </p>
        </div>

        <div><img src="{{template_book.image}}"></img></div>
        <div>
            <h3>Reviews:</h3>
            <a href="#">Add/Edit Review</a>
            <br/>
            {% for rev in template_reviews %}
                <div>{{rev.user}} says: </div>
                <div>{{rev.text}}</div>
            {% endfor %}
        </div>
        <br />
        <div>
            {% for list in template_lists %}
                <div>{{ list.title }}  <a href="/addbooktolist/{{list.id}}/{{template_book.id}}">Add to List</a></div>
            {% endfor %}
        </div>
    {% endblock %}