{% extends "navbar.html" %}
    {% block content %}
        <h3>{{template_book.title | title}}</h3>
        <p>Author: {{template_book.author}}</p>
        <div>
            <p>Release Date: {{template_book.release}}</p>
            <p>Description: {{template_book.description}} </p>
        </div>

        <div><img src="{{template_book.image}}"></img></div>
        <div>
            <h3>Reviews:</h3>
            <br/>
            {% for rev in template_reviews %}
                <div>{{rev.user}} says: </div>
                <div>{{rev.text}}</div>
            {% endfor %}
            <div>Add A Review:
                <form method="POST" action="/newbookreview">
                    <input class="input" type="text" name="review" placeholder="Add your review ... ">
                    <!-- Pass the Media ID through the Form -->
                    <input class="input" type="hidden" name="book_id" value={{template_book.id}}>
                    <button class="button">Add</button>
                </form>
            </div>
        </div>
        <br />
        <div>
            {% for list in template_lists %}
                <div>{{ list.title }}  <a href="/addbooktolist/{{list.id}}/{{template_book.id}}">Add to List</a></div>
            {% endfor %}
        </div>
    {% endblock %}