<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    </head>
    <body>
                <nav class="navbar">
                    <div class="container">
                            <div class="navbar-brand">
                                <img style="height: 80px;; width:80px"src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/114/zombie_1f9df.png">
                                <h1 class="title"><a href="/">Untitled Zombie Tracker</a></h1>
                            </div>
                            <div class="navbar-menu">
                                <div class="navbar-end">
                                    <a href="/tv" class="navbar-item">TV</a>
                                    <a href="/movies" class="navbar-item">Movies</a>
                                    <a href="/books" class="navbar-item">Books</a>
                                    <a href="/games" class="navbar-item">Games</a>
                                    <a href="/profile" class="navbar-item">Profile</a>
                                </div>
                            </div>
                    </div>
                </nav>
            <div class="hero-body">
                <div class="container has-text-centered">
            {% block content %} {% endblock %}
                </div>
            </div>
    </body>
</html>



