<!-- Passed variables are: cur_user, template_lists, template_book_reviews, template_movie_reviews, template_show_reviews, template_game_reviews-->
{% extends "navbar.html" %}
{% block content %}
<p> This is {{cur_user.username}}'s profile page!</p>
<br />
<div class="columns">
    <div class="column">
        <div style="border: 1px solid black">
        <p> You've watched {{cur_user.movie_count}} of 571 zombie movies.</p>
        <p><a href="/movies">Browse movies...</a></p>
        <p> You've watched {{cur_user.show_count}} of 39 shows.</p>
        <p><a href="/shows">Browse shows...</a></p>
        <p> You've read {{cur_user.book_count}} of 124 zombie books and comics.</p>
        <p><a href="/books">Browse books & comics...</a></p>
        <p> You've played {{cur_user.game_count}} of 120 zombie video games.</p>
        <p><a href="/books">Browse games...</a></p>
        </div>
    </div>
    <div class="column">
        <p>User's Lists:</p>
        <ul>
        {% for list in template_lists %} 
            <li><a href="/lists/{{list.id}}">{{list.title | title}}</a></li>
        {% endfor %}
        </ul>
        <div>New List:
            <form method="POST" action="/newlist">
                <input class="input" type="text" name="listname" placeholder="New List Name ... ">
                <button class="button">Add</button>
            </form>
        </div>
    </div>
</div>
<p>User Reviews:</p>
{% for review in template_book_reviews %} 
    <a href="books/{{review.book.id}}"> {{ review.book.title }} </a>
    <br />
    {{ review.text }}
    <br />
{% endfor %}
{% for review in template_game_reviews %} 
    <a href="games/{{review.game.id}}"> {{ review.game.title }} </a>
    <br />
    {{ review.text }}
    <br />
{% endfor %}
{% for review in template_movie_reviews %} 
    <a href="movies/{{review.movie.id}}"> {{ review.movie.title }} </a>
    <br />
    {{ review.text }}
    <br />
{% endfor %}
{% for review in template_show_reviews %} 
    <a href="shows/{{review.show.id}}"> {{ review.show.title }} </a>
    <br />
    {{ review.text }}
    <br />
{% endfor %}
{% endblock %}